@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Space+Grotesk:wght@300..700&display=swap');

@import 'tailwindcss';

@variant light (&:where(.light, .light *));

/* 4. Tema Ayarları */
@theme {
  --font-sans: 'Space Grotesk', sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
}

/* 5. Global Ayarlar */
:root {
  color-scheme: light dark;
}
html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: transparent;
}

body {
  font-family: var(--font-sans);
  @apply transition-colors duration-300 ease-in-out;

  @apply text-slate-900 dark:text-slate-200;
}

:root.dark body {
  @apply bg-[#0f172a] text-slate-200;
}

@layer components {
  .nav-link {
    @apply text-slate-500 dark:text-slate-300 transition-all duration-300 font-medium cursor-pointer;
  }

  .nav-link:hover {
    @apply bg-gradient-to-r from-cyan-400 to-purple-500 bg-clip-text text-transparent;
  }

  .page-background {
    @apply min-h-screen w-full flex flex-col items-center justify-center;
  }

  .home-btn {
    @apply text-sm py-2 px-6 
    
  
    md:text-lg md:py-3 md:px-8
    
    /* Ortak Özellikler */
    rounded-full shadow-xl cursor-pointer border transition-all duration-300 font-medium
    
    /* --- LIGHT MODE */
    light:bg-white light:text-slate-900 light:border-slate-300 light:hover:bg-slate-100 
    
    /* --- DARK MODE --- */
    dark:bg-transparent dark:text-white dark:border-white/20 dark:hover:bg-white/10;
  }
}

/* Typewriter imleci */
.Typewriter__cursor {
  @apply bg-gradient-to-r from-cyan-400 to-purple-500 bg-clip-text  transition font-semibold;
}
